body{
    background-color: grey;
}
header{
    margin: auto;
    width: 300px;
    text-align: center;
}
main{
    background-color: white;
    margin: auto;
    width: 400px;
    padding: 20px;
}
form{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
}
button{
    width: 100px;
    height: 30px;
    margin: 10px;
}
select{
    margin: 10px;
    height: 30px;

}

@media (max-width: 500px){
    main{
        width: 200px;
        background-color: lightgrey;
    }

}